{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="wrapper" class="row">

	{% for product in products %}
	<div class="col-lg-4">
		<img class="thumbnail" src="{% static product.image %}">
		<div class="box-element product">
			<h6><strong>{{product.product_name}}</strong></h6>
			<hr>

			<button data-product="{{product.product_id}}" data-action="add"
				class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
			<h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
		</div>
	</div>

	{% endfor %}
</div>

<script type="text/javascript">
		var updateBtns = document.getElementsByClassName('update-cart')

		for (i = 0; i < updateBtns.length; i++) {
			updateBtns[i].addEventListener('click', function () {
				var productId = this.dataset.product
				var action = this.dataset.action
				console.log('productId:', productId, 'Action:', action)

				updateUserOrder(productId, action)
			})
		}

		function updateUserOrder(productId, action) {
			var url = '{% url "update_item" %}'
			fetchauth(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken
				},
				body: JSON.stringify({ 'productId': productId, 'action': action })
			})
				.then((response) => {
					return response.json();
				})
				.then((data) => {
					console.log('Data:', data)
				});
		}
</script>

{% endblock content %}